fastapi==0.121.2
uvicorn==0.38.0
psycopg2-binary==2.9.11

sqlalchemy==2.0.48
GeoAlchemy2==0.18.4
python-multipart==0.0.22

#py3dtiles==12.1.1

geopandas==1.1.2
fiona==1.10.1
shapely==2.1.1 
pyproj==3.7.2
gdal==3.6.2